<div id="draggableNotesArea">
  {% for note in draggableNotes %}
  <div class="drag-drop" 
    data-noteType={{note.data.noteType}} 
    data-isDraggable={{note.data.isDraggable}}
  >
    <h1>{{note.data.title}}</h1>
    {% if note.data.position%} <h2 class="thinLargeFont">{{note.data.position}}</h2> {%- endif %}
    {% if note.data.dateRange%} <h2 class="thinFont">{{note.data.dateRange}}</h2> {%- endif %}
    {# maybe I could add a little tldr: prior to the description #}
    {% if note.data.description%} <h2>{{note.data.description}}</h2> {%- endif %}
    {% if note.data.noteType != "education"%} <a href="{{ note.url | url }}">see more 👀</a> {%- endif %}
  </div>
  {% endfor %}
</div>