<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="personal site">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <header>
    <a href="{{ '/' | url }}">home</a>
    <a href="{{page.url}}img/Alberto_Godinez_2022.pdf">cv</a>
  </header>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
  <footer>
    <p>please excuse the construction</p>
    <p>last updated: 2/8/22</p>
    <div id="links">
      <a href="{{ metadata.links.github }}">github</a>
      <a href="{{ metadata.links.twitter }}">twitter</a>
      <a href="{{ metadata.links.instagram }}">instagram</a>
      <a href="{{ metadata.links.linkedin }}">linkedin</a>
      <a href="{{ metadata.links.email }}">email</a>

    </div>
  </footer>
</html>