@tailwind base;

@tailwind components;

@tailwind utilities;

body,
html {
  /* background-color: hsl(135, 19, 88, 1); */
  background-color: rgb(43, 43, 43);
  color: #dae6dd;
  /* background-color: hsl(132, 6, 16); */
}

header {
  background-color: #222;
  @apply flex gap-7 font-bold text-lg px-4 py-2;
}

footer {
  background-color: #222;
  @apply flex flex-col gap-2 px-4 py-2 justify-center text-center;
}

header > a:hover {
  color: white;
  transition: all ease-in-out 300ms;
}

#description {
  @apply flex-col gap-8 justify-around text-center py-16 md:py-24 px-16 md:px-4 text-xl;
}

#description > p > a {
  @apply underline;
}

#description > p > a:hover {
  @apply no-underline text-white;
  transition: all ease-in-out 200ms !important;
}

#draggableToolBar {
  @apply pb-4 flex gap-4 justify-center;
}

#draggableNotesArea {
  @apply border-t-2 border-b-2 border-gray-600;
  /* border-color: #DAE6DD; */
  /* background-color: #333; */
  /* background-color: hsl(132, 6, 16, 0.5); */
  height: 75vh;
  /* height: calc(100vh - 15rem); */
}

.button {
  background-color: #dae6dd;
  border-width: 1px;
  @apply rounded-full border-gray-700 w-max px-2 text-black;
  transition: all ease-in-out 300ms;
}

#isDragging {
  background-color: #333 !important;
  color: white !important;
  transition: all ease-in-out 300ms !important;
}

.button:hover {
  /* background-color: #262b27; */
  background-color: #333;
  color: white;
  transition: all ease-in-out 300ms;
}

.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 1em 0.5em;
  margin: 1rem 0 0 1rem;

  color: black;
  background-color: #98c6b4;
  border: solid 1px #333;

  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
  @apply rounded-lg max-w-xs md:max-w-md;
}

.drag-drop > h1 {
  @apply font-bold text-lg pb-2;
}

.drag-drop > a {
  @apply underline;
}

.drag-drop > a:hover {
  text-decoration: none;
}

.thinLargeFont {
  @apply font-extralight text-lg;
}

.thinFont {
  @apply font-extralight;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.link {
  @apply font-extralight text-sm;
  transition: all ease-in-out 300ms !important;
}

.link:hover {
  @apply font-medium text-base underline;
  transition: all ease-in-out 300ms !important;
}
